{%extends 'layout.html'%}


{%block content%}

<div class="container mt-5">
	<div class="row row-cols-4">
		{%for item in items %}
			<div class="col p-3 text-center">
				<div class="p-2 border shadow rounded">
					<img src="/{{item.img}}" class="img-thumbnail">
					<h2>{{item.name}}</h2>
					<p>{{item.description}}</p>
					<h6>Ціна:{{item.price}}</h6>
					<a href="{{url_for('store_app.view_item',item_number=item.id)}}"><button class="btn btn-warning mb-2">Дивитись більше</button></a>
				</div>
			</div>
	{%endfor%}
	</div>

</div>


{%endblock%}